
<div class="image">
    <img src="{{location.photo}}">
</div>
<div class="content">
    <div class="header">{{location.restaurant.name}}</div>
    <div class="meta">
        meta info
    </div>
    <div class="description">
        <p>{{location.restaurant.description}}</p>
    </div>
    <div class="extra">
        {{tag-list-widget tags=location.tags}}
    </div>
</div>
