
{{#link-to 'index' class='item'}}MEEQS{{/link-to}}
{{#if session.isAuthenticated}}
    <a class='item' href {{action 'invalidateSession'}}>Logout</a>
    {{#link-to 'profile' class='item'}}Profile{{/link-to}}
{{else}}
    <a class='item' href {{action 'login'}}>Login</a>
    <a class='item' href {{action 'register'}}>Register</a>
{{/if}}
