
{{#each tags as |tag|}}
    <div class="ui label">
        {{tag.name}}
        {{#if removeTag}}
            <i class="delete icon" {{action 'removeTag' tag.tagID on='click'}}></i>
        {{/if}}
    </div>
{{/each}}
{{#if addTag}}
    <div class="ui label" {{action 'addTag'}}>
        <i class="add icon"></i>
    </div>
{{/if}}
