
<input type="hidden" name="filters">
<span class="text">Add tags...</span>
<div class="menu">
    <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search tags...">
    </div>
    <div class="scrolling menu">
        {{#each tagOptions as |tag|}}
            {{tag-widget tag=tag}}
        {{/each}}
    </div>
</div>
