
{{outlet 'modal'}}
{{sidebar-menu id='sidemenu' openModal='openModal' closeModal='closeModal'}}

<div class='pusher'>
    <header class='ui vertical segment'>
        <div class="ui centered grid">
            <div class="twelve wide column">
                {{topbar-menu}}
            </div>
        </div>
    </header>
    <div class="ui vertical segment">
        <div class="ui centered grid">
            <div class="twelve wide column">
                {{outlet}}
            </div>
        </div>
    </div>
    <footer class="ui vertical segment">
        <div class="ui centered grid">
            <div class="twelve wide column">
                footer stuff
            </div>
        </div>
    </footer>
</div>