
{{sidebar-filter id='filtermenu' searchParams=searchParams setFilter='setFilter' clearFilter='clearFilter'}}

<div class='ui four column doubling stackable grid'>
    {{#each model as |restaurant|}}
        {{location-widget restaurant=restaurant rate='rate'}}
    {{/each}}
</div>

{{modals/rating-modal open=ratingOpen restaurant=restaurant}}
