
<form class="ui form" {{action 'login' on='submit' }}>
    <h3 class="ui dividing header">Login</h3>
    <div class="field">
        <label>Username</label>
        {{ input type='text' value=model.username }}
    </div>
    <div class="field">
        <label>Password</label>
        {{ input type='password' value=model.password }}
    </div>
    <button class="ui submit button">Login</button>
</form>
