
{{#modal-widget ok='login' okLabel='Login' modalLabel='Login' cancelLabel='Cancel'}}
    <div class='ui form'>
        {{form-field type='text' value=model.username label='Username'}}
        {{form-field type='password' value=model.password label='Password'}}
        
        {{message-widget messages=messages color='red'}}
    </div>
{{/modal-widget}}
