
{{#modal-widget submit='login' cancel='cancel' submitLabel='Login' modalLabel='Login' cancelLabel='Cancel'}}
    <div class='ui form'>
        {{ui-field type='text' value=model.username label='Username'}}
        {{ui-field type='password' value=model.password label='Password'}}
        
        {{message-widget messages=messages color='red'}}
    </div>
{{/modal-widget}}
