
<div class="ui cards">
    {{#each model as |restaurant| }}
        <div class="card">
            {{#link-to "restaurant" restaurant class="image"}}
                <img src="http://placehold.it/200x200">
            {{/link-to}}
            <div class="content">
                {{#link-to "restaurant" restaurant class="header" }}{{ restaurant.name }}{{/link-to}}
                <div class="meta">
                    meta info
                </div>
                <div class="description">
                    {{ restaurant.description }}
                </div>
            </div>
            <div class="extra content">
                <div class="ui labels">
                    {{#each restaurant.tags as |tag| }}
                        <div class="label">
                            {{ tag.name }}
                        </div>
                    {{/each }}
                </div>
                {{link-to "View Locations" "restaurant" restaurantID class="ui button"}}
            </div>
        </div>
    {{/each }}
</div>
