
{{#if placeholder}}
    <option value="">{{placeholder}}</option>
{{/if}}
{{#each formattedOptions as |option|}}
    <option value="{{option.index}}">
        {{option.text}}
    </option>
{{/each}}
